{% trans_default_domain 'FOSUserBundle' %}

<div class="fos_user_user_show">
    <p>{{ 'profile.show.username'|trans }}: {{ user.username }}</p>
    <p>{{ 'profile.show.email'|trans }}: {{ user.email }}</p>
    <p>lastNameFacebook : {{ user.lastNameFacebook }}</p>
    <p>firstNameFacebook : {{ user.firstNameFacebook }}</p>
    <p>lastNameVkontakte : {{ user.lastNameVkontakte }}</p>
    <p>firstNameVkontakte : {{ user.firstNameVkontakte }}</p>
    <p>vkontakteId : {{ user.vkontakteId }}</p>
    <p>user.facebookId : {{ user.facebookId }}</p>


</div>
