{% extends 'LinkPubGuiBundle::layout.html.twig' %}
{% block title %}{{ 'search_pages'|trans }}{% endblock %}
{% block content %}
<div class="site-add-form">
    {{ form_start(form) }}
    <div class="one-third">{{ form_row(form.tciMin) }}</div>
    <div class="one-third">{{ form_row(form.tciMax) }}</div>
    <div class="one-third">{{ form_row(form.pageRank) }}</div>
    {{ form_rest(form) }}
</div>
{% endblock %}