{% extends 'LinkPubGuiBundle::layout.html.twig' %}
{% block title %}{{ 'my_sites'|trans }}{% endblock %}
{% block content %}
<div class="margin-top">
    <a href="{{ path("linkpub_gui_add_site") }}">{{ 'add_site'|trans }}</a>
</div>
<table class="table table-striped">
    <tr>
        <th>{{ 'site_name'|trans }}</th>
        <th>{{ 'site_category_name'|trans }}</th>
        <th>{{ 'site_pages'|trans }}</th>
        <th>{{ 'site_links_in'|trans }}</th>
        <th>{{ 'site_links_outgoing'|trans }}</th>
    </tr>
    {% for site in sites %}
    <tr>
        <td><a href="{{ path('linkpub_gui_site_info', {'siteId': site.siteFields.id}) }}">{{ site.siteFields.title }}</a></td>
        <td>{{ site.siteCategoryTitle }}</td>
        <td><a href="{{ path('linkpub_gui_site_pages', {'siteId': site.siteFields.id}) }}">
                {{ site.pagesCount }}
            </a>
        </td>
        <td class="text-green">{{ site.linksCountTracked }}</td>
        <td class="text-red">{{ site.linksCountOn }}</td>
    </tr>
    {% endfor %}
</table>
    <h4> {{ pagerfanta(pagerfanta) }}</h4>
{% endblock content %}
