{% extends 'LinkPubGuiBundle::layout.html.twig' %}
{% block title %}{{ 'my_sites'|trans }}{% endblock %}
{% block content %}
<table class="table table-striped">
    <tr>
        <th>{{ 'site_name'|trans }}</th>
        <th>{{ 'site_pages'|trans }}</th>
        <th>{{ 'site_links_in'|trans }}</th>
        <th>{{ 'site_links_outgoing'|trans }}</th>
    </tr>
    {% for site in sites %}
    <tr>
        <td>{{ site.siteFields.title }}</td>
        <td>{{ site.pagesCount }}</td>
        <td>{{ site.linksCountTracked }}</td>
        <td>{{ site.linksCountOn }}</td>
    </tr>
    {% endfor %}
</table>
    <h4> {{ pagerfanta(pagerfanta) }}</h4>
{% endblock content %}
